.blueTitle{
    color:#50A3D9;
}

#diplomeDiv{
    margin: 0 auto;
    width: 820px;
    background-color: #FFFFFF;   
}
 #diplomeDiv li{
    list-style: none;
    display: block;
    height: 70px;
    line-height: 70px;
}
#diplomeDiv li img {
    vertical-align: middle;
}