section{
    margin-top: 3%;
}
.titleImage{
    padding-top: 8px; 
    float:left;
}
.skillDiv{
    padding-top: 60px;
    
}
.skillDiv li{
    list-style: none;
    display: block;
    height: 70px;
    line-height: 70px;
}
ul li img {
    vertical-align: middle;
}
#frontEnd{
    margin-left: 10%;
    width: 30%;
    height: 300px;
    background-color: #FFFFFF; 
    float: left;
}
#backEnd{
    margin-right:10%;
    width: 30%;
    height: 300px;
    background-color:#FFFFFF; 
    float: right;
    margin-left: 100px;
}
#other{
    margin-left:10%;
    margin-top: 20px;
    width: 30%;
    height: 500px;
    background-color:#FFFFFF; 
    float: left;
}
.blueTitle{
    color:#50A3D9;
    float:left;
    text-decoration: underline;
}
.gauge{
    width: 280px; margin-right: 10px;
}
.gaugeDiv{
    float: right;
}
